.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  width: 100%;
  max-width: 380px;
  /*padding: 15px;*/
  margin: auto;
  background: rgba(255,255,255,0.9);
  /*border-radius: 5px;*/
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
  /*margin-top: 200px;*/
  background-color: white;
  /*background-image: url('../assets/img/fge.png');*/
  /*background-color: #152F4A;*/
}

.login-form button{
  background-color: white;
  border-radius: 100px;
}

.login-form input{
  background-color: white;
  border-radius: 100px;
}

.login-form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.login-form .form-control:focus {
  z-index: 2;
}

.login-form input[type="text"] {
  margin-bottom: -1px;
  /*border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;*/
}

.login-form input[type="password"] {
  margin-bottom: 10px;
  /*border-top-left-radius: 0;
  border-top-right-radius: 0;*/
}

.login-form h1{
  font-family: LabradorA;
  font-size: 30pt;
  color: white;
  margin-top: 10px;
}

.login-form-body{
  padding: 15px;
  background-color: white;
}

.login-form-header{
  padding: 15px;
  /*background-color: #152F4A;*/
  /*background-color: #22313f;*/
  text-align: center;
}

.login-form-text{
  margin-top: 10px;
  /*color: white;*/
  color: gray !important;
}
